table{
    width: 100%;
    border-collapse:collapse;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
th,td{
    padding: 12px;
    border: 1px solid #aaa;
    text-align:left;
}
th{
    background-color: #f4f4f4;
    color:#333;
}
button{
    margin-right: 12px;
    padding: 6px 12px;
    border:none;
    border-radius: 10px;
    color:black;
    cursor:pointer;
}
button:hover{
    background-color: #6b6969;
    color: white;
}