.main{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    flex-direction:column;
    background-color: white;
    padding: 20px;
    border-radius:5px ;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    width: 20%;
    gap:15px;
    height: 300px;
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.customer-box{
    border-radius: 5px;
    padding: 10px;

}
.field1{
    border: 1px solid #808080;
    padding: 20px;
    border-radius: 5px; 
}
.field2{
    border: 1px solid #808080;
    padding: 20px;
    border-radius: 5px;
    transform: translateY(10px);
}
.field3{
    border: 1px solid #808080;
    padding: 20px;
    border-radius: 5px;
    transform: translateY(20px);
}
.field4{
    border: 1px solid #808080;
    padding: 20px;
    border-radius: 5px;
    transform: translateY(30px);
}
.field5{
    border: 1px solid #808080;
    padding: 20px;
    border-radius: 5px;
    transform: translateY(40px);
}